@using HRInPocket.Domain.Entities.Data

<div class="question-cart" style="left: @(Left)px">
    <div class="cart-shadow"></div>
    <div class="cart-border"></div>
    <span class="title">@Tarif.Name.ToUpper()</span>
    <span class="description">@Tarif.Description</span>
    <span class="duration">@($"{Tarif.Visits} {(Tarif.Visits % 10) switch { 1 => "день", > 1 and < 5 => "дня", _ => "дней" }}")</span>
    <span class="price">@Tarif.Price руб.</span>
    
    <button class="purchase-button">
        <span>Купить</span>
    </button>
</div>

@code{
    [Parameter] public Tarif Tarif { get; set; }

    [Parameter] public int Left { get; set; }
}
